div{
    background-color: red;
    width: 500px;
    padding: 10px;
    margin: 20px;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 5px 10px 15px 20px rgb(38, 31, 251);
}

p{
    border: 5px solid black;
    padding: 10px;  
}